* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  /* color: rgb(255, 255, 255); */
  color: red;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1em 3em 1em 2em;
}

.navbar .text-heading,
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

.linkBox {
  display: flex;
  width: 40%;
  gap: 20%;
  margin: 0;
}

.linkBox .link {
  list-style: none;
}

.linkBox .link a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.main-heading {
  text-align: center;
  margin: 1.4rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.themeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.themeBox .toggleBox {
  display: block;
  position: relative;
  width: 70px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 100px;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.74),
    inset 0px -4px 6px rgba(255, 255, 255, 0.37);
  cursor: pointer;
  transition: 0.5s;
}

.toggleBox::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3),
    0px -3px 5px rgba(255, 255, 255, 0.3);
  left: 5px;
  top: 5px;
  transition: 0.5s;
}

#dark-mode:checked ~ .toggleBox:after {
  left: 65px;
  transform: translateX(-100%);
  background-color: rgb(153 149 149 / 91%);
}

#dark-mode:checked ~ .toggleBox {
  background-color: rgba(0, 0, 0, 0.452);
}

.alertBox {
  height: 60px;
}

.alertBox .alert {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark-mode {
  z-index: -1;
  height: 1px;
  width: 1px;
}

.infoBox {
  padding: 0.5rem 4rem;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.infoBox .info {
  width: calc(650px + (0.6rem * 5));
  width: 100%;
  margin: 0.9rem 0;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  min-height: 200px;
  font-size: 16px;
  border: 1.5px solid rgb(114, 114, 114);
  resize: none;
  outline: none;
  border-radius: 6px;
}

.actionBtn {
  width: 100px;
  padding: 0.4rem;
  margin-right: 0.6rem;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  color: white;
  box-shadow: 0px 0px 4px grey;
  cursor: pointer;
  background-color: blue;
}

.btnBox .actionBtn:hover {
  box-shadow: 0px 0px 0px grey;
}

.summaryBox {
  width: 32%;
  align-self: self-start;
}

.summaryBox li {
  padding: 0.2rem 0.3rem 0.3rem;
  list-style-position: inside;
  font-size: 16px;
  margin-left: 0.6rem;
}

.previewBox {
  margin: 0;
  padding: 2rem 4rem;
}

.previewBox .preview-head {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.previewBox .preview-text {
  padding-left: 1.4rem;
  line-height: 25px;
}

/* ========================================
==========> Responsive Degign <============
=========================================== */

@media screen and (max-width: 1050px) {
  .navbar {
    padding: 1rem 1.3rem 1rem 1rem;
  }
  .main-heading {
    margin: 0.6rem 0;
  }
  .infoBox {
    padding: 0.6rem 1.6rem;
    margin-top: 2rem;
    gap: 40px;
  }

  .infoBox .info {
    font-size: 16px;
  }

  .summaryBox {
    width: 38%;
  }

  .btnBox {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actionBtn {
    font-size: 16px;
    margin-right: 0;
  }

  .previewBox {
    padding: 1.4rem 1.8rem;
  }

  .previewBox .preview-text {
    padding-left: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 12px;
    height: 50px;
  }

  .text-heading {
    font-size: 1.1rem;
    margin-top: 0.2rem;
  }

  .linkBox {
    padding: 0;
  }

  .linkBox .link a {
    font-size: 1rem;
  }

  .themeBox .toggleBox {
    width: 50px;
    height: 25px;
  }

  .toggleBox::after {
    width: 15px;
    height: 15px;
    left: 5px;
    top: 5px;
  }

  #dark-mode:checked ~ .toggleBox:after {
    left: 45px;
  }

  .alertBox {
    height: 44px;
  }

  .alertBox .alert {
    height: 40px;
  }

  .main-heading {
    margin: 0;
    font-size: 1.4rem;
  }
  .infoBox {
    flex-direction: column;
    padding: 0.6rem 1.6rem;
    margin-top: 1rem;
    gap: 30px;
  }
  .main-container {
    width: 100%;
  }

  .infoHead {
    font-size: 1.1rem;
    font-weight: 100;
  }

  .infoBox .info {
    font-size: 15px;
  }

  .btnBox {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .actionBtn {
    margin-right: 0;
    font-size: 15px;
  }

  .summaryBox {
    width: 100%;
  }

  .summaryBox h2 {
    font-size: 18px;
  }

  .summaryBox li {
    padding: 0.2rem 0.3rem 0.3rem;
    font-size: 14px;
    margin-left: 0.2rem;
  }

  .previewBox {
    margin: 0;
    padding: 1rem 1.6rem;
    font-size: 14px;
  }

  .previewBox .preview-head {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .previewBox .preview-text {
    padding-left: 0.6rem;
    line-height: 25px;
  }
}

@media screen and (max-width: 415px) {
  .navbar {
    padding: 8px;
    height: 50px;
  }

  .text-heading {
    font-size: 1rem;
  }

  .linkBox .link a {
    font-size: 0.9rem;
  }

  .themeBox .toggleBox {
    width: 45px;
    height: 22px;
  }

  .toggleBox::after {
    width: 14px;
    height: 14px;
    left: 4px;
    top: 4px;
  }

  #dark-mode:checked ~ .toggleBox:after {
    left: 41px;
  }

  .infoBox {
    padding: 0.5rem 1rem;
  }

  .infoHead {
    font-size: 1rem;
  }

  .infoBox .info {
    font-size: 14px;
  }

  .actionBtn {
    font-size: 14px;
  }

  .previewBox {
    padding: 1rem 1rem;
  }

  .previewBox .preview-text {
    padding-left: 0.4rem;
  }
}
